@model IEnumerable<MrVeggie.Models.Ingrediente>

@{
    ViewData["Title"] = "Configuração Inicial";
}



<h1>Configuração Inicial</h1>

<h3>Por favor, escolha 3 ingredientes.</h3>

<script>
    var ids = [];

    function setSelected(id) {
        var element = document.getElementById(id);
        element.style.backgroundColor = '#fff';
    }

    function removeSelected(id) {
        var element = document.getElementById(id);
        element.style.backgroundColor = '#000';
    }

    function addToPref(id) {
        if (ids.indexOf(id) == -1) {
            ids.push(id);
            //setSelected(id);
        }
        else {
            ids.splice(ids.indexOf(id), 1);
            //removeSelected(id);
        }
        //$('input').val(ids.join(", ")); // Debug

    }


    function getIDsSelected() {

        $.ajax({
            url: '@Url.Action("ConfigInicial", "IngredienteView")',
            type: 'POST',
            data: JSON.stringify(ids),
            contentType: "application/json; charset=utf-8",
            dataType: "text"
        });

    }
    

</script>


<div class="container-fluid">
    <div class="row">

        @foreach (var ingrediente in Model) {

            <div id="@ingrediente.id_ingrediente" class="card shadow p-3 mb-5 bg-white rounded" style="margin: 3px; width:18rem" onclick="addToPref(@ingrediente.id_ingrediente)">
                <img id="no_border_img" class="card-img-top" src="@ingrediente.url_imagem" alt="Error loading image">
                <div class="card-body">
                    <h3 class="card-title">@ingrediente.nome</h3>
                </div>
            </div>
        }
    </div>
</div>

<a style="float:right" onclick="getIDsSelected()" class="btn btn-success" asp-controller="Home" asp-action="Index">Confirmar</a>


