@model IEnumerable<MrVeggie.Models.Ingrediente>

@{
    ViewData["Title"] = "Configuração Inicial";
}



<h1>Configuração Inicial</h1>

<h3>Por favor, escolha 3 ingredientes.</h3>

<script>
    var ids = [];


    function addToPref(id) {
        if (ids.indexOf(id) == -1) {
            ids.push(id);
            //setSelected(id);
        }
        else {
            ids.splice(ids.indexOf(id), 1);
            //removeSelected(id);
        }
        $('input').val(ids.join(", ")); // Debug

    }

    function setSelected(id) {
        var element = document.getElementById(id);
        element.body.style.backgroundColor = green;
    }

    function removeSelected(id) {
        var element = document.getElementById(id);
        element.body.style.backgroundColor = white;
    }

    function getIDsSelected() {
        /*$.ajax({
            type: "POST",
            url: "/IngredienteView/ConfigInicial",
            data: JSON.stringify(ids),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    alert(response);
                } else {
                    alert("Something went wrong");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });*/
        $.ajax({
            url: '@Url.Action("ConfigInicial", "IngredienteView")',
            type: 'POST',
            dataType: 'text',
            data: ids
            
        });

    }
    

</script>


<div class="container-fluid">
    <div class="row">

            @foreach (var ingrediente in Model) {

                <div id="@ingrediente.id_ingrediente" onclick="addToPref(@ingrediente.id_ingrediente)" class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 3px">

                    <div class="row">
                        <div class="col-md-2">
                            <h2>
                                @ingrediente.nome
                            </h2>
                        </div>

                    </div>
                    <div class="row">
                        <div class="container">
                            <img class="d-block w-100" src="@ingrediente.url_imagem">

                        </div>
                    </div>
                </div>
            }
    </div>
</div>

<a class="btn btn-success" onclick="getIDsSelected()">TESTE</a>
<a style="float:right" class="btn btn-success" asp-controller="UserView" asp-action="registaConfigInicial">Confirmar</a>


