@model IEnumerable<MrVeggie.Models.Ingrediente>

@{
    ViewData["Title"] = "Ingredientes";
}

<style>
    #fav {
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

        #fav:hover {
            opacity: .5;
        }
</style>

<script>
    function adicionaFavoritos(ingrediente) {
        $.ajax({
            url: '@Url.Action("AdicionaIngredienteFavoritos", "IngredienteView")',
            type: 'POST',
            data: JSON.stringify(ingrediente),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function () {
                alert('Ingrediente adicionado aos favoritos');
            },
            error: function () {
                alert('Ingrediente já se encontra nos favoritos');
            }
        });
    }

    document.getElementById("ingredientes").classList.add('active');
</script>

<section class="banner-area relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="banner-content col-lg-5">
                <h1>Ingredientes</h1>
                <hr>
                <div class="breadcrmb">
                    <p>
                        <a asp-controller="Home" asp-action="Index">Início</a>
                        <span class="lnr lnr-arrow-right"></span>
                        <a asp-controller="IngredienteView" asp-action="showIngredientes">Ingredientes</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        @foreach (var ingrediente in Model) {
            <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 3px; width:18rem">
                <img id="no_border_img" class="card-img-top" src="@ingrediente.url_imagem" alt="Error loading image" style="height:150px">
                <div class="card-body">
                    <h3 class="card-title" style="height:75px;margin-top:30px">
                        @ingrediente.nome
                    </h3>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <p>
                        Adicionar aos favoritos
                        <img src="~/img/like.png" id="fav" onclick="adicionaFavoritos(@ingrediente.id_ingrediente)" style="width:20%; padding-left:10px" />
                    </p>
                    }
                    else
                    {
                        <a asp-controller="UserView" asp-action="LoginUtilizador">
                            Adicionar aos favoritos <img id="fav" src="~/img/like.png" style="width:20%;" />
                        </a>
                    }

                </div>
            </div>
            /*<div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 3px">

                <div class="row">
                    <div class="col-md-2">
                        <h2>
                            @ingrediente.nome
                        </h2>
                    </div>
                    <div class="col-md-1">
                       
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <img class="d-block w-100" src="@ingrediente.url_imagem" width="100" height="200">

                    </div>
                </div>
            </div>
            /*
            <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 2px">
                <h2>
                    @ingrediente.nome
                </h2>
                <p>
                    @ingrediente.calorias
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
            */
        }

    </div>
</div>

