@model IEnumerable<MrVeggie.Models.Ingrediente>

@{
    ViewData["Title"] = "Ingredientes";
}


<script>
    function adicionaFavoritos(ingrediente) {
        $.ajax({
            url: '@Url.Action("AdicionaIngredienteFavoritos", "IngredienteView")',
            type: 'POST',
            data: JSON.stringify(ingrediente),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function () {
                alert('Ingrediente adicionado aos favoritos');
            },
            error: function () {
                alert('Ingrediente já se encontra nos favoritos');
            }
        });
    }
</script>





<h1>Ingredientes</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var ingrediente in Model) {
            <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 3px" >

                <div class="row">
                    <div class="col-md-2">
                        <h2>
                            @ingrediente.nome
                        </h2>
                    </div>
                    <div class="col-md-1">
                        @if (User.Identity.IsAuthenticated) {
                            <a onclick="adicionaFavoritos(@ingrediente.id_ingrediente)">Adicionar aos Favoritos</a>
                        }
                        else {
                            <a asp-controller="UserView" asp-action="LoginUtilizador">Adicionar aos Favoritos</a>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <img class="d-block w-100" src="@ingrediente.url_imagem" width="100" height="200">

                    </div>
                </div>
            </div>
            /*
            <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 2px">
                <h2>
                    @ingrediente.nome
                </h2>
                <p>
                    @ingrediente.calorias
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
            */
        }

    </div>
</div>

