@model IEnumerable<MrVeggie.Models.Ingrediente>

@{
    ViewData["Title"] = "Ingredientes";
}


<script>
    function adicionaFavoritos(ingrediente) {
        $.ajax({
            url: '@Url.Action("AdicionaIngredienteFavoritos", "IngredienteView")',
            type: 'POST',
            data: JSON.stringify(ingrediente),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function () {
                alert('Ingrediente adicionado aos favoritos');
            },
            error: function () {
                alert('Ingrediente já se encontra nos favoritos');
            }
        });
    }
</script>





<h1>Ingredientes</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var ingrediente in Model) {
            <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 3px; width:18rem">
                <img id="no_border_img" class="card-img-top" src="@ingrediente.url_imagem" alt="Error loading image">
                <div class="card-body">
                    <h3 class="card-title">
                        @ingrediente.nome

                        @if (User.Identity.IsAuthenticated) {
                            <img src="~/img/like.png" onclick="adicionaFavoritos(@ingrediente.id_ingrediente)" style="width:20%; padding-left:10px" />
                        }
                        else {
                            <a asp-controller="UserView" asp-action="LoginUtilizador">
                                <img src="~/img/like.png" style="width:20%; padding-left:10px" />
                            </a>
                        }

                    </h3>
                    
                </div>
            </div>
            /*<div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 3px">

                <div class="row">
                    <div class="col-md-2">
                        <h2>
                            @ingrediente.nome
                        </h2>
                    </div>
                    <div class="col-md-1">
                       
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <img class="d-block w-100" src="@ingrediente.url_imagem" width="100" height="200">

                    </div>
                </div>
            </div>
            /*
            <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 2px">
                <h2>
                    @ingrediente.nome
                </h2>
                <p>
                    @ingrediente.calorias
                </p>
                <p>
                    <a class="btn" href="#">View details »</a>
                </p>
            </div>
            */
        }

    </div>
</div>

