
@model MrVeggie.Models.Pages.ReceitaAndIngredienteViewModel
@{
    string dificuldade;
    string dificuldade_img;
    string star_img;
}

<style>
    .checked {
        color: orange;
    }
</style>

<section class="banner-area relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="banner-content col-lg-5">
                <h1>Receitas</h1>
                <hr>
                <div class="breadcrmb">
                    <p>
                        <a asp-controller="Home" asp-action="Index">Início</a>
                        <span class="lnr lnr-arrow-right"></span>
                        <a asp-controller="ReceitaView" asp-action="showReceitas">Receitas</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<form class="form-inline" asp-controller="ReceitaView" asp-action="showReceitasSearch" method="post">
    <input class="form-control mr-sm-2" type="search" name="searchBar" placeholder="Procurar" aria-label="Procurar">
</form>

<section class="section-bg" style="padding-top:30px;background-color:white">
        <form asp-action="showReceitas" method="post">
            <div style="float:left">
                <ul class="lateral">
                    <li class="l1">
                        <div class="dropdown" style="text-align:left">
                            <button type="button" class="dropbtn" style="width:130px">Ingredientes</button>
                            <div class="dropdown-content">
                                @foreach (var ingrediente in Model.Ingredientes)
                                {
                                    <input type="checkbox" name=checkboxes value=@ingrediente.id_ingrediente> @ingrediente.nome<br>
                                }
                            </div>
                        </div>
                    </li>

                    <li class="l1">
                        <div class="dropdown" style="text-align:left">
                            <button type="button" class="dropbtn" style="width:130px">Dificuldade</button>
                            <div class="dropdown-content">
                                <input type="checkbox" name=dificuldades value=1> Facil<br>
                                <input type="checkbox" name=dificuldades value=2> Médio<br>
                                <input type="checkbox" name=dificuldades value=3> Dificil<br>
                            </div>
                        </div>
                    </li>

                    <li class="l1">
                        <div class="dropdown" style="text-align:left">
                            <button type="button" class="dropbtn" style="width:130px">Calorias</button>
                            <div class="dropdown-content">
                                <input type="checkbox" name=calorias value=300> <= 300<br>
                                <input type="checkbox" name=calorias value=500> <= 500<br>
                                <input type="checkbox" name=calorias value=700> <= 700<br>
                                <input type="checkbox" name=calorias value=1000> <= 1000<br>
                            </div>
                        </div>
                    </li>

                    <li class="l1">
                        <div class="dropdown" style="text-align:left">
                            <button type="button" class="dropbtn" style="width:130px">Pessoas</button>
                            <div class="dropdown-content">
                                <input type="checkbox" name=pessoas value=1> <= 1<br>
                                <input type="checkbox" name=pessoas value=2> <= 2<br>
                                <input type="checkbox" name=pessoas value=3> <= 3<br>
                                <input type="checkbox" name=pessoas value=4> <= 4<br>
                                <input type="checkbox" name=pessoas value=5> <= 5<br>
                                <input type="checkbox" name=pessoas value=6> <= 6<br>
                                <input type="checkbox" name=pessoas value=7> <= 7<br>
                                <input type="checkbox" name=pessoas value=8> <= 8<br>
                                <input type="checkbox" name=pessoas value=9> <= 9<br>
                                <input type="checkbox" name=pessoas value=10> <= 10<br>
                            </div>
                        </div>
                    </li>
                    <li class="l1">
                        <div class="dropdown"  style="text-align:left">
                            <button type="button" class="dropbtn" style="width:130px">Tempo</button>
                            <div class="dropdown-content">
                                <input type="checkbox" name=tempo value=30> <= 30<br>
                                <input type="checkbox" name=tempo value=60> <= 60<br>
                                <input type="checkbox" name=tempo value=120> <= 120<br>
                            </div>
                        </div>
                    </li>
                    <li class="l1">
                        <div class="form-group" float="right">
                            <input type="submit" value="Filtrar" class="btn btn-default btn-primary" />
                        </div>
                    </li>
                </ul>
                

            </div>
        </form>


        <div class="container-fluid" style="text-align:center;padding-left:200px">
            <div class="row">
                @foreach (var receita in Model.receitas)
                {

                    <div class="card shadow p-3 mb-5 bg-white rounded" style="margin: 3px; width:17rem">
                        <img class="card-img-top" src="@receita.url_imagem" alt="Error Loading Image" style="height:150px">
                        <div class="card-body">
                            <h3 class="card-title" style="height:100px">@receita.nome</h3>


                            <div class="container" style="display:inline-block">
                                <div class="row">
                                    <div class="column" style="float: left; width: 22%; padding-left:0px">
                                        <figure>
                                            @{
                                                if (receita.dificuldade == 1)
                                                {
                                                    dificuldade = "Fácil";
                                                    dificuldade_img = "facil.png";
                                                }
                                                else if (receita.dificuldade == 2)
                                                {
                                                    dificuldade = "Média";
                                                    dificuldade_img = "media.png";
                                                }
                                                else
                                                {
                                                    dificuldade = "Difícil";
                                                    dificuldade_img = "dificil.png";
                                                }
                                            }
                                            <img id="no_border_img" src="~/img/@dificuldade_img" style="width:50%" />
                                            <figcaption style="text-align: center;margin-top:10px"> @dificuldade </figcaption>
                                        </figure>
                                    </div>
                                    <div class="column" style="float: left; width: 25%; padding-left:14px">
                                        <figure>
                                            <img id="no_border_img" src="~/img/pessoa.png" style="width:100%" />
                                            <figcaption style="text-align: center"> @receita.n_pessoas  </figcaption>
                                        </figure>
                                    </div>
                                    <div class="column" style="float: left; width: 25%; padding-left:14px">
                                        <figure id="element3">
                                            <img id="no_border_img" src="~/img/relogio.png" style="width:100%" />
                                            <figcaption style="text-align: center"> @receita.tempo_conf </figcaption>
                                        </figure>
                                    </div>
                                    <div class="column" style="float: left; width: 25%; padding-left:14px">
                                        <figure id="element3">
                                            <img id="no_border_img" src="~/img/calories.png" style="width:100%" />
                                            <figcaption style="text-align: center"> @receita.calorias </figcaption>
                                        </figure>
                                    </div>
                                </div>

                                <div class="row" style="height:40px;margin-bottom:20px;margin-top:20px">
                                    @if (User.Identity.IsAuthenticated) {
                                    <div class="dropdown">
                                        <a class="btn dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align:center;width:75%">
                                            Agendar Refeição
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" onclick="verificaAgenda(1, 'a', @receita.id_receita)">Segunda - Almoço</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(1, 'j', @receita.id_receita)">Segunda - Jantar</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(2, 'a', @receita.id_receita)">Terça - Almoço</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(2, 'j', @receita.id_receita)">Terça - Jantar</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(3, 'a', @receita.id_receita)">Quarta - Almoço</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(3, 'j', @receita.id_receita)">Quarta - Jantar</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(4, 'a', @receita.id_receita)">Quinta - Almoço</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(4, 'j', @receita.id_receita)">Quinta - Jantar</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(5, 'a', @receita.id_receita)">Sexta - Almoço</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(5, 'j', @receita.id_receita)">Sexta - Jantar</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(6, 'a', @receita.id_receita)">Sábado - Almoço</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(6, 'j', @receita.id_receita)">Sábado - Jantar</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(7, 'a', @receita.id_receita)">Domingo - Almoço</a>
                                            <a class="dropdown-item" onclick="verificaAgenda(7, 'j', @receita.id_receita)">Domingo - Jantar</a>
                                        </div>
                                    </div>
                                    }
                                    
                                </div>

                                <div class="row" style="height:40px">
                                    <div class="column" style="text-align:center;width:50%;margin-left:10px;margin-right:30px">
                                        @if (Math.Round(receita.avaliacao) == 1)
                                        {
                                            star_img = "star1.png";
                                        }
                                        else if (Math.Round(receita.avaliacao) == 2)
                                        {
                                            star_img = "star2.png";
                                        }
                                        else if (Math.Round(receita.avaliacao) == 3)
                                        {
                                            star_img = "star3.png";
                                        }
                                        else if (Math.Round(receita.avaliacao) == 4)
                                        {
                                            star_img = "star4.png";
                                        }
                                        else if (Math.Round(receita.avaliacao) == 5)
                                        {
                                            star_img = "star5.png";
                                        }
                                        else
                                        {
                                            star_img = "star0.png";
                                        }

                                        <img id="no_border_img" src="~/img/@star_img" style="width:110%;" />
                                    </div>
                                    <div class="column">
                                        <a class="btn btn-success" asp-controller="ReceitaView" asp-action="showReceita" asp-route-id="@receita.id_receita">Ver</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
</section>



<script>
    function marcaAgenda(dia, refeicao, receita) {
        var data = [
            dia,
            refeicao,
            receita
        ];

        $.ajax({
            url: '@Url.Action("MarcaAgenda", "ReceitaView")',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
        });
    }

    function verificaAgenda(dia, refeicao, receita) {

        var data = [
            dia,
            refeicao,
            receita
        ];

        $.ajax({
            url: '@Url.Action("verificaAgenda", "ReceitaView")',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (result) {
                if (result == "true") {
                    marcaAgenda(dia, refeicao, receita);
                    alert("Receita agendada com sucesso");
                }
                else {
                    if (confirm("Já tem uma receita agendada para esta data. Deseja substituir?")) {
                        marcaAgenda(dia, refeicao, receita);
                        alert("Receita agendada com sucesso");
                    }
                }
            }
        });
    }

    document.getElementById("receitas").classList.add('active');

</script>

