
@model ReceitaAndIngredienteViewModel
@{
    ViewData["Title"] = "Receitas";
    string dificuldade;
    string dificuldade_img;
}



<link href="~/css/Style.css" rel="stylesheet" type="text/css" />

<h1>Receitas</h1>



<div class="dropdown" style="float:right">
    <button class="dropbtn">Ingredientes</button>
    <div class="dropdown-content">
        <form asp-action="showReceitas" method="post">
            @foreach (var ingrediente in Model.Ingredientes)
            {
                <input type="checkbox" name=checkboxes value=@ingrediente.id_ingrediente>@ingrediente.nome<br>
            }
            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
</div>



<div class="container-fluid" style="float:left">
    <div class="row">
        @foreach (var receita in Model.receitas)
        {
            <div class="col-md-3 shadow p-3 mb-5 bg-white rounded" style="margin: 3px">
                <div class="row">
                    <div class="container">
                        <img class="d-block w-100" src="@receita.url_imagem">
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <h2>
                            @receita.nome
                        </h2>
                    </div>
                    <div class="container" style="display:inline-block">
                        <figure>
                            @{
                                if (receita.dificuldade == 1) {
                                    dificuldade = "Fácil";
                                    dificuldade_img = "facil.png";
                                }
                                else if (receita.dificuldade == 2) {
                                    dificuldade = "Média";
                                    dificuldade_img = "media.png";
                                }
                                else {
                                    dificuldade = "Difícil";
                                    dificuldade_img = "dificil.png";
                                }
                            }
                            <img id="no_border_img" src="~/images/@dificuldade_img" style="width:10%" />
                            <figcaption> @dificuldade </figcaption>
                        </figure>

                        <figure>
                            <img id="no_border_img" src="~/images/pessoa.png" style="width:10%" />
                            <figcaption> @receita.n_pessoas  </figcaption>
                        </figure>
                        
                        <figure id="element3">
                            <img id="no_border_img" src="~/images/relogio.png" style="width:10%" />
                            <figcaption> @receita.tempo_conf </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        Dose: @receita.n_pessoas pessoas
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        Tempo: @receita.tempo_conf minutos
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        Avaliação: @receita.avaliacao estrelas
                    </div>
                    <div class="container" align="right">
                        <a class="btn btn-success" asp-controller="ReceitaView" asp-action="showReceita" asp-route-id="@receita.id_receita">Ver</a>
                    </div>
                </div>

            </div>
        }

    </div>
</div>


