@model MrVeggie.Models.Receita

@{
    ViewData["Title"] = "showReceita";

}


<script>

    function sendEmail() {

        var div = document.getElementById('lista_ingredientes');

        var data = div.innerHTML;

        $.ajax({
            url: '@Url.Action("sendEmail", "AgendaView")',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function () {
                   alert("Email enviado com sucesso");
            }
        });

    }

    function adicionaFavoritos(receita) {
        $.ajax({
            url: '@Url.Action("AdicionaReceitaFavoritos", "ReceitaView")',
            type: 'POST',
            data: JSON.stringify(receita),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function () {
                alert('Receita adicionada aos favoritos');
            }
        });
    }

    function enviaLocalizacao(){
        navigator.geolocation.getCurrentPosition(function (position) {
            var userLoc = [position.coords.latitude, position.coords.longitude];

            $.post({
                url: '@Url.Action("ShowLocalizacao", "SupermercadosView")',
                type: 'POST',
                data: JSON.stringify(userLoc),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (response) {
                    window.location =  response;
                }
            });
        })
    }

</script>



<p></p>


<div class="wrapper">
    <div style="width: 30%; float: left;">
        <img src="@Model.url_imagem" style="width: 100%">

    </div>
    <div style="margin-left: 6%">
        <h1>@Model.nome</h1>
        <p>@Model.desc</p>
    </div>
    <div style="text-align:right">
        @if (User.Identity.IsAuthenticated) {
            <a onclick="adicionaFavoritos(@Model.id_receita)">Adicionar aos Favoritos</a>
        }
        else {
            <a asp-controller="UserView" asp-action="LoginUtilizador">Adicionar aos Favoritos</a>
        }
    </div>
</div>

<p></p>
<p></p>
<p></p>

<div>
    <h2>Requisitos</h2>
    <div style="float:right">
        <a style="float:right" class="btn btn-link" onclick="enviaLocalizacao();">Onde comprar?</a>
        <a style="float: left" class="btn btn-link" onclick="sendEmail();">Receber lista ingredientes no mail</a>
    </div>
</div>


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-ingredientes-tab" data-toggle="tab" href="#nav-ingredientes" role="tab" aria-controls="nav-ingredientes" aria-selected="true">Ingredientes</a>
        <a class="nav-item nav-link" id="nav-utensilios-tab" data-toggle="tab" href="#nav-utensilios" role="tab" aria-controls="nav-utensilios" aria-selected="false">Utensílios</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-ingredientes" role="tabpanel" aria-labelledby="nav-ingredientes-tab">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>

                </tr>
            </thead>
            <tbody id="lista_ingredientes">
                @foreach (var ing in Model.ingredientes) {
                    <tr>
                        <td>@ing.Key.nome</td>
                        <td>@ing.Value.quantidade @ing.Value.unidade</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-utensilios" role="tabpanel" aria-labelledby="nav-utensilios-tab">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var utensilio in Model.utensilios) {
                <tr>
                    <td>
                        <wrapper>
                            @utensilio.nome
                            <img id="hover" src="@utensilio.url_imagem" />
                        </wrapper>
                        
                        
                    </td>
                    <p>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<p></p>


<div style="padding-bottom:50px;">
    @if (User.Identity.IsAuthenticated) {
        <a style="float:right" class="btn btn-success" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id="@Model.id_receita-1">Começar</a>
    }
    else {
        <a style="float:right" class="btn btn-success" asp-controller="UserView" asp-action="LoginUtilizador">Começar</a>
    }
</div>

