@model MrVeggie.Models.Pages.AgendaReceitas


@{
    ViewData["Title"] = "ShowAgenda";
}


<script>


    function marcaAgenda(receita, dia, refeicao) {
        var data = [receita, dia, refeicao];

        $.ajax({
            url: '@Url.Action("MarcaAgenda", "AgendaView")',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function () {
                location.reload();

            }
        });
    }

    document.getElementById("pessoal").classList.add('active');

</script>



<section class="banner-area relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="banner-content col-lg-5">
                <h1>Agenda</h1>
                <hr>
                <div class="breadcrmb">
                    <p>
                        <a asp-controller="Home" asp-action="Index">Início</a>
                        <span class="lnr lnr-arrow-right"></span>
                        Área Pessoal
                        <span class="lnr lnr-arrow-right"></span>
                        <a asp-controller="AgendaView" asp-action="showAgenda">Agenda</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Table-->
<table id="tablePreview" class="table">
    <!--Table head-->
    <thead>
        <tr>
            <th>Refeição</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sábado</th>
            <th>Domingo</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">Almoço</th>
            <td id="1-1">
                @if (Model.agenda.ElementAt(0).receita != null) {
                    <p>@Model.agenda.ElementAt(0).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 0, 'a')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td id="2-1">
                @if (Model.agenda.ElementAt(2).receita != null) {
                    <p>@Model.agenda.ElementAt(2).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 1, 'a')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(4).receita != null) {
                    <p>@Model.agenda.ElementAt(4).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 2, 'a')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(6).receita != null) {
                    <p>@Model.agenda.ElementAt(6).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 3, 'a')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(8).receita != null) {
                    <p>@Model.agenda.ElementAt(8).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 4, 'a')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(10).receita != null) {
                    <p>@Model.agenda.ElementAt(10).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 5, 'a')">@receita.nome</a>
                            }
                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(12).receita != null) {
                    <p>@Model.agenda.ElementAt(12).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 6, 'a')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Jantar</th>
            <td>
                @if (Model.agenda.ElementAt(1).receita != null) {
                    <p>@Model.agenda.ElementAt(1).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 0, 'j')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(3).receita != null) {
                    <p>@Model.agenda.ElementAt(3).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 1, 'j')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(5).receita != null) {
                    <p>@Model.agenda.ElementAt(5).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 2, 'j')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(7).receita != null) {
                    <p>@Model.agenda.ElementAt(7).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Refeição </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 3, 'j')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(9).receita != null) {
                    <p>@Model.agenda.ElementAt(9).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 4, 'j')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(11).receita != null) {
                    <p>@Model.agenda.ElementAt(11).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 5, 'j')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(13).receita != null) {
                    <p>@Model.agenda.ElementAt(13).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" style="color:#ffffff" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item" onclick="marcaAgenda(@receita.id_receita, 6, 'j')">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
        </tr>
    </tbody>
    <!--Table body-->
</table>
<!--Table-->

<a class="btn btn-success" asp-controller="AgendaView" asp-action="ShowIngredientesAgenda">Ver Ingredientes</a>
