@model MrVeggie.Models.Pages.AgendaReceitas


@{
    ViewData["Title"] = "ShowAgenda";
}


<script>

    function writeChoices(id) {
        var to_append = "";
        var $row = $(id);

        to_append += '<div class="dropdown" style="float:right">'';
        to_append += '<a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">';
        to_append += 'Agendar Refeição';
        to_append += '</a>';
        to_append += '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">';
        @foreach (var receita in Model.receitas) {
            @:to_append += '<a class="dropdown-item">@receita.nome</a>';
        }

        to_append += '</div>';
        to_append += '</div>';

        $row.append(to_append);
    }

</script>



<h1>Agenda</h1>

<!--Table-->
<table id="tablePreview" class="table">
    <!--Table head-->
    <thead>
        <tr>
            <th>Refeição</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
            <th>Sábado</th>
            <th>Domingo</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">Almoço</th>
            <td id="1-1">
                @if (Model.agenda.ElementAt(0).receita != null) {
                    <p>@Model.agenda.ElementAt(0).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td id="2-1">
                @if (Model.agenda.ElementAt(2).receita != null) {
                    <p>@Model.agenda.ElementAt(2).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(4).receita != null) {
                    <p>@Model.agenda.ElementAt(4).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(6).receita != null) {
                    <p>@Model.agenda.ElementAt(6).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(8).receita != null) {
                    <p>@Model.agenda.ElementAt(8).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(10).receita != null) {
                    <p>@Model.agenda.ElementAt(10).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(12).receita != null) {
                    <p>@Model.agenda.ElementAt(12).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Jantar</th>
            <td>
                @if (Model.agenda.ElementAt(1).receita != null) {
                    <p>@Model.agenda.ElementAt(1).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(3).receita != null) {
                    <p>@Model.agenda.ElementAt(3).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(5).receita != null) {
                    <p>@Model.agenda.ElementAt(5).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(7).receita != null) {
                    <p>@Model.agenda.ElementAt(7).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(9).receita != null) {
                    <p>@Model.agenda.ElementAt(9).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(11).receita != null) {
                    <p>@Model.agenda.ElementAt(11).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
            <td>
                @if (Model.agenda.ElementAt(13).receita != null) {
                    <p>@Model.agenda.ElementAt(13).receita.nome</p>
                }
                else {
                    <div class="dropdown" style="float:right">
                        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Agendar Refeição </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var receita in Model.receitas) {
                                <a class="dropdown-item">@receita.nome</a>
                            }

                        </div>
                    </div>
                }
            </td>
        </tr>
    </tbody>
    <!--Table body-->
</table>
<!--Table-->

<a class="btn btn-success" asp-controller="AgendaView" asp-action="ShowIngredientesAgenda">Ver Ingredientes</a>
