@model MrVeggie.Models.Pages.NewPasso

@{
    int i = 0;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}





<script>
   
    function writeIngredienteLine() {
        var $ingredientes = $('#ingredientes');
        //$ingredientes.empty();
        var to_append = '';
        to_append += '<div class="form-group">' ;
        to_append += '<select required id="ings" name="ings" class="form-control">';
        to_append += '<option value="" disabled selected>Escolha o ingrediente</option>';
            @foreach (var ingrediente in Model.ingredientes) {
               @:to_append += '<option value="@ingrediente.id_ingrediente">@ingrediente.nome</option>';
            }
        to_append += '</select>';
        to_append += '<input id="quantidades" name="quantidades" type="number" step="0.05" />';
        to_append += '<select required id="unds" name="unds" class="form-control">';
        to_append += '<option value="" disabled selected>Escolha a unidade</option>';
            @foreach (var unidade in Model.unidades) {
               @:to_append += '<option value="@unidade.id_unidade">@unidade.desc</option>';
            }
        to_append += '</select>';
        to_append += '</div>';
        $ingredientes.append(to_append); // NO HTML ISTO ESTÁ A SER ESCRITO LOGO A SEGUIR A ABERTURA DA TAG, se alterar no f12 e por no sitio correto já dá direito

    }

    function nrIngredientes() {
        var $nr = $('#nr').val();

        for (i = 0; i < $nr; i++) {
            writeIngredienteLine();
        }
    }
</script>







<h1>NewPasso</h1>




<form action="registaPasso" method="post">
    <div class="form-group">
        <label asp-for="passo.desc" class="control-label"></label>
        <input asp-for="passo.desc" class="form-control" />
        <span asp-validation-for="passo.desc" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="passo.tempo" class="control-label"></label>
        <input asp-for="passo.tempo" class="form-control" />
        <span asp-validation-for="passo.tempo" class="text-danger"></span>
    </div>


    <div class="form-group">
        <select required id="ops" name="ops" class="form-control">
            <option value="" disabled selected>Escolha a Operação</option>
            @foreach (var operacao in Model.operacoes)
            {
                <option value="@operacao.id_op">@operacao.desc</option>
            }
        </select>
    </div>



    <div class="form-group">
        <select id="recs" name="recs" class="form-control">
            <option value="" disabled selected>Escolha a subReceita</option>
            @foreach (var receita in Model.receitas)
            {
                <option value="@receita.id_receita">@receita.nome</option>
            }
        </select>
    </div>


    <div>
        Por favor, indique o número de ingredientes presentes no passo:<input id="nr" type="number" /><button type="button" class="btn btn-default btn-success" onclick="nrIngredientes()">Confirmar</button>
    </div>

    <div id="ingredientes" class="form-group">

    </div>


    <div class="form-group">
        <button asp-action="registaPasso" type="submit" class="btn btn-default btn-success">Proximo Passo</button>

        <button asp-action="finalizaReceita" type="submit" class="btn btn-default btn-success">Finalizar</button>

    </div>

    <div hidden="hidden" class="form-group">
        <label asp-for="nPasso" class="control-label">@Model.nPasso</label>
        <input asp-for="nPasso" value="@Model.nPasso" class="form-control" />
        <span asp-validation-for="nPasso" class="text-danger"></span>
    </div>

    <div hidden="hidden" class="form-group">
        <label asp-for="id_receita" class="control-label">@Model.id_receita</label>
        <input asp-for="id_receita" class="form-control" />
        <span asp-validation-for="id_receita" class="text-danger"></span>
    </div>

</form>



