@model MrVeggie.Models.NewPasso

@{
    ViewData["Title"] = "NewPasso";
}

<h1>NewPasso</h1>

<form asp-action="registaPasso">
    <div class="form-group">
        <label asp-for="passo.desc" class="control-label"></label>
        <input asp-for="passo.desc" class="form-control" />
        <span asp-validation-for="passo.desc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="passo.tempo" class="control-label"></label>
        <input asp-for="passo.tempo" class="form-control" />
        <span asp-validation-for="passo.tempo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <select class="mdb-select md-form" multiple>
            <option value="" disabled selected>Escolha a Operação</option>
            @foreach (var operacao in Model.operacoes)
            {
                <option value="@operacao.id_op">@operacao.desc</option>
            }
        </select>

    </div>
    <div class="form-group">
        <select id="receitas" name="receitas" class="mdb-select md-form" multiple>
            <option value="" disabled selected>Escolha a subReceita</option>
            @foreach (var receita in Model.receitas)
            {
                <option value="@receita.id_receita">@receita.nome</option>
            }
        </select>
    </div>
    <div class="form-group">
        <select class="mdb-select md-form" multiple>
            <option value="" disabled selected>Escolha os ingredientes</option>
            @foreach (var ingrediente in Model.ingredientes)
            {
                <option value="@ingrediente.id_ingrediente">@ingrediente.nome</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Proximo Passo" class="btn btn-default btn-success" />
        <input type="submit" value="Finalizar" class="btn btn-default btn-success" />
    </div>
</form>