@using MrVeggie.Models.Auxiliary;

@model MrVeggie.Models.Passo


@{ ViewData["Title"] = "ShowPasso";

    int proximo = Model.nr + 1;
    int anterior = Model.nr - 1;

    bool sound = SoundControl.GetSoundState();

    Console.WriteLine("ESTADO: " + SoundControl.GetSoundState());


    /*if (SoundControl.GetSoundState())
    {
        TextToSpeech tts = new TextToSpeech(Model);
        tts.readStep();
    }*/

}

<div class="onoffswitch" style="float:right">
    @if (SoundControl.GetSoundState())
    {
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    }
    else
    {
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
    }
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>


<div class="row" style="padding-top:30px">

    <div class="circle col-md-2">
        @Model.nr
    </div>

    <div class="col-md-1"> </div>

    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var ing in Model.ingredientes)
                {
                    <tr>
                        <td>@ing.Key.nome</td>
                        <td>@ing.Value.quantidade @ing.Value.unidade</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="col-md-1"> </div>


    <div class="col-md-2">
        <p></p>
        <figure>
            <img id="no_border_img" src="~/images/relogio.png" style="max-width:60%" />
            <figcaption> <h3>@Model.tempo min</h3> </figcaption>
        </figure>
    </div>

</div>

<p></p>

<h1>@Model.operacao.desc</h1>

<p></p>

<p>
    @Model.desc
</p>

<p></p>


<div>
    @if (Model.ultimo == true)
    {
        <a class="btn btn-success" id="anterior" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id_receita="@Model.receita_id" asp-route-nr_passo="@anterior">Anterior</a>
        <a style="float:right" id="finalizar" class="btn btn-success" asp-controller="AvaliacaoView" asp-action="AvaliarReceita" asp-route-id_receita="@Model.receita_id">Finalizar</a>
    }
    else
    {
        @if (Model.nr > 1)
        {
            <a class="btn btn-success" id="anterior" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id_receita="@Model.receita_id" asp-route-nr_passo="@anterior">Anterior</a>
        }
        <a style="float:right" class="btn btn-success" id="proximo" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id_receita="@Model.receita_id" asp-route-nr_passo="@proximo">Próximo</a>
    }
</div>


<script>

    // BEGIN SPEECH RECOGNITION

    window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
    if ('SpeechRecognition' in window) {
        // speech recognition API supported

        var recognition = new SpeechRecognition();
        recognition.continuous = true;
        recognition.lang = "pt-PT";
        recognition.interimResults = true;

        recognition.onend = function () {
            recognition.start();
        }
        recognition.onresult = function (event) {
            var current = event.resultIndex;
            var transcript = event.results[current][0].transcript;

            if (transcript === "próximo") {
                var prox = document.getElementById('proximo');
                if (prox != null) prox.click();
            }

            if (transcript === "anterior") {
                var ant = document.getElementById('anterior');
                if (ant != null) ant.click();
            }

            if (transcript === "finalizar") {
                var fin = document.getElementById('finalizar');
                if (fin != null) fin.click();
            }
        }

        recognition.start();
    }

    else {
        // speech recognition API not supported
        // mostrar algo?
    }

</script>
