@model MrVeggie.Models.Passo

@{ ViewData["Title"] = "ShowPasso";

    int total_passos = Model.nr_total_passos;
    int proximo = Model.nr + 1;
    int anterior = Model.nr - 1;

}



<div class="row"  style="padding-top:30px">

    <div class="circle col-md-2">
        @Model.nr
    </div>

    <div class="col-md-1"> </div>

    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var ing in Model.ingredientes) {
                    <tr>
                        <td>@ing.Key.nome</td>
                        <td>@ing.Value</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="col-md-1"> </div>


    <div class="col-md-2">
        <p></p>
        <figure>
            <img id="no_border_img" src="~/images/relogio.png" style="width:60%"/>
            <figcaption> <h3>@Model.tempo min</h3> </figcaption>
        </figure>
    </div>

</div>

<h1>@Model.operacao.desc</h1>

@if (Model.nr == total_passos) {
    <a align="left" class="btn btn-success" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id_receita="@Model.receita_id" asp-route-nr_passo="@anterior">Anterior</a>
    <a align="right" class="btn btn-success" asp-controller="AvaliacaoView" asp-action="AvaliarReceita" asp-route-id="@Model.receita_id">Finalizar</a>
}
else {
    @if (Model.nr > 1) {
        <a align="left" class="btn btn-success" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id_receita="@Model.receita_id" asp-route-nr_passo="@anterior">Anterior</a>
    }
    <a align="right" class="btn btn-success" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id_receita="@Model.receita_id" asp-route-nr_passo="@proximo">Próximo</a>
}
