@using MrVeggie.Models.Auxiliary;

@model MrVeggie.Models.Passo


@{ ViewData["Title"] = "ShowPasso";

    int proximo = Model.nr + 1;
    int anterior = Model.nr - 1;
    string url = "https://localhost:5001/PassosView/ShowPasso/";
    TextToSpeech tts = new TextToSpeech(Model);

    string[] txts = tts.getText();

}

<script>
    var ativado = 0;
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        var interval = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            timer--;

            if (timer < 0) {
                timer = duration;
                alert('Atenção, acabou o tempo!');
                clearInterval(interval);
            }
        }, 1000);
    }

    function setTime(duration) {
        if (ativado == 0) {
            var display = document.getElementById('timer');
            startTimer(duration * 60, display);
            ativado = 1;
        }
        
    }

</script>

<section class="banner-area relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="banner-content col-lg-5">
                <h1>Passo @Model.nr</h1>
                <hr>
            </div>
        </div>
    </div>
</section>

<p id="aviso" style="font-size:80%;display:none"><b>Aviso:</b> O navegador que utiliza não suporta as funcionalidades de voz.</p>


<div style="float:right">
    <input type="image" id="ouvir" src="https://www.freeiconspng.com/uploads/green-sound-png-icon-15.png" onclick="ouvir()" width="60" height="60">
</div>


<div class="row" style="padding-top:30px">

    <div class="circle col-md-2">
        @Model.nr
    </div>

    <div class="col-md-1"> </div>

    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var ing in Model.ingredientes) {
                    <tr>
                        <td>@ing.Key.nome</td>
                        <td>@ing.Value.quantidade @ing.Value.unidade</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="col-md-1"> </div>


    <div class="col-md-2">
        <p></p>
        <figure onclick="setTime(@Model.tempo)">
            <img id="no_border_img" src="~/img/relogio.png" style="max-width:60%" />
            <figcaption>
                    <h3 id="timer">@Model.tempo min</h3>
            </figcaption>
        </figure>
    </div>

</div>

<p></p>

<h1>@Model.operacao.desc</h1>

<p></p>

<p>
    @Model.desc
</p>

@if (Model.sub_receita != null) {
    url += Model.sub_receita.id_receita.ToString()+"-1";

    <p>
        Veja tambem:
        <a href=@url target="_blank">@Model.sub_receita.desc</a>
    </p>
}

<p></p>


<div>
    @if (Model.ultimo == true) {
        <a class="btn btn-success" id="anterior" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id_receita="@Model.receita_id" asp-route-nr_passo="@anterior">Anterior</a>
        <a style="float:right" id="finalizar" class="btn btn-success" asp-controller="AvaliacaoView" asp-action="AvaliarReceita" asp-route-id_receita="@Model.receita_id">Finalizar</a>
    }
    else {
        @if (Model.nr > 1) {
            <a class="btn btn-success" id="anterior" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id_receita="@Model.receita_id" asp-route-nr_passo="@anterior">Anterior</a>
        }
        <a style="float:right" class="btn btn-success" id="proximo" asp-controller="PassosView" asp-action="ShowPasso" asp-route-id_receita="@Model.receita_id" asp-route-nr_passo="@proximo">Próximo</a>
    }
</div>


<script>

    // BEGIN SPEECH RECOGNITION

    window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
    if ('SpeechRecognition' in window) {
        // speech recognition API supported

        var recognition = new SpeechRecognition();
        //recognition.continuous = true;
        recognition.lang = "pt-PT";
        //recognition.interimResults = true;

        recognition.onend = function () {
            recognition.start();
        }
        recognition.onresult = function (event) {
            var current = event.resultIndex;
            var transcript = event.results[current][0].transcript;

            if (transcript === "próximo") {
                var prox = document.getElementById('proximo');
                if (prox != null) prox.click();
            }

            if (transcript === "anterior") {
                var ant = document.getElementById('anterior');
                if (ant != null) ant.click();
            }

            if (transcript === "finalizar") {
                var fin = document.getElementById('finalizar');
                if (fin != null) fin.click();
            }

            if (transcript === "ouvir") {
                var ouv = document.getElementById('ouvir');
                if (ouv != null) ouv.click();
            }
        }

        recognition.start();
    }

    else {
        // speech recognition API not supported
        document.getElementById('aviso').style.display = "block";
    }

    // BEGIN SPEECH SYNTHESIZING

    var synth = window.speechSynthesis;
    window.speechSynthesis.getVoices();
    var voices = [];

    voices = synth.getVoices();

    var txs = [];
    txs = new Array();

    @for (int fld = 0; fld < txts.Length; fld++) {
            @:var tx = "@txts[fld]";
            @:txs.push(tx);
     }

    function ouvir() {
        var i;
        for (i = 0; i < txs.length; i++) {
            var utter = new SpeechSynthesisUtterance(txs[i]);
            //utter.voice = voices[15];
            utter.lang = "pt-PT";
            synth.speak(utter);
        }
    }


</script>
